# Byte-compiled / optimized / DLL files /pypi config:
__pycache__
*.py[cod]
*$py.class
setup.py

# Git stuff:
.gitattributes

# pending files:
menu_setter/modules
menu_setter/tests
menu_setter/h\ map.txt
menu_setter/test001.py
